<div id="overlay"></div>

<!-- ログインモーダル -->
<div id="loginModal" class="modal">
    <span class="close" onclick="closeModal('loginModal')">&times;</span>
    
    <form class="login-form" action="{{ url_for('login_modal') }}" method="post">
      <h2>Club Chat ログイン</h2>
      <div>
        <label for="loginEmail">メールアドレス</label>
        <input
          type="email"
          placeholder="Email"
          name="email"
          id="login-email-input" required>
      </div>
      <div>
        <label for="loginPassword">パスワード</label>
        <input
          type="password"
          placeholder="Password"
          name="password1"
          id="signup-password-input" required>
      </div>
      <button class="login-button" type="submit">ログイン</button>
      <button class="close-button" onclick="closeModal('loginModal')">閉じる</button>
    </form>
    
</div>

