<div id="overlay"></div>

<!-- ログインモーダル -->
<div id="loginModal" class="modal">
    <span class="close" onclick="closeModal('loginModal')">&times;</span>
    <h2>ログイン</h2>
    <form onsubmit="submitLoginForm(); return false;">
        <label for="loginEmail">メールアドレス:</label>
        <input type="email" id="loginEmail" required>
        <br>
        <label for="loginPassword">パスワード:</label>
        <input type="password" id="loginPassword" required>
        <br>
        <button type="submit">ログイン</button>
    </form>
    <button onclick="closeModal('loginModal')">閉じる</button>
</div>

<!-- 新規登録モーダル -->
<div id="registrationModal" class="modal">
    <span class="close" onclick="closeModal('registrationModal')">&times;</span>
    <h2>新規登録</h2>
    <form onsubmit="submitRegistrationForm(); return false;">
        <label for="name">名前:</label>
        <input type="text" id="name" required>
        <br>
        <label for="registrationEmail">メールアドレス:</label>
        <input type="email" id="registrationEmail" required>
        <br>
        <label for="registrationPassword">パスワード:</label>
        <input type="password" id="registrationPassword" required>
        <br>
        <label for="registrationPassword">確認用パスワード:</label>
        <input type="password" id="registrationPassword2" required>
        <br>
        <label for="signup-club-input">Club</label>
        <select name=”club” id="signup-club-serect" required>
          <option value="" disabled selected style="display:none;">選択してください</option>
          <optgroup label="運動部">
            <option value=”soccer”>サッカー</option>
            <option value=”tennis”>テニス</option>
            <option value=”basketball”>バスケットボール</option>
            <option value=”badminton”>バドミントン</option>
            <option value=”volleyball”>バレーボール</option>
            <option value=”rugby”>ラグビー</option>
            <option value=”kendo”>剣道</option>
            <option value=”tabletennis”>卓球</option>
            <option value=”kyudo”>弓道</option>
            <option value=”judo”>柔道</option>
            <option value=”swimming”>水泳</option>
            <option value=”karate”>空手</option>
            <option value=”baseball”>野球</option>
            <option value=”trackandfield”>陸上</option>
         </optgroup>
          <optgroup label="文化部">
            <option value=”igo”>囲碁</option>
            <option value=”drama”>演劇</option>
            <option value=”flowerarrangement”>華道</option>
            <option value=”choral”>合唱</option>
            <option value=”band”>軽音</option>
            <option value=”sado”>茶道</option>
            <option value=”shogi”>将棋</option>
            <option value=”calligraphy”>書道</option>
            <option value=”brassband”>吹奏楽</option>
            <option value=”dance”>ダンス</option>
            <option value=”art”>美術</option>
            <option value=”literature”>文芸</option>
            <option value=”broadcasting”>放送</option>
         </optgroup>
        </select>
        <br>
        <button type="submit">登録</button>
    </form>
    <button onclick="closeModal('registrationModal')">閉じる</button>
</div>