<div id="update-channel-modal" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>チャンネル編集</h2>
      <span class="modalClose" id="update-page-close-button2">×</span>
    </div>
    <form
      name="updateChannelForm"
      class="modal-body"
      action="/update_channel"
      method="POST"
    >
      <label>チャンネル名</label>
      <input
        type="text"
        placeholder="Channel name"
        class="channel-form-input"
        name="channelTitle"
      />
      <label>チャンネル説明</label>
      <input
        type="text"
        placeholder="Channel description"
        class="channel-form-input"
        name="channelDescription"
      />
      <input type="hidden" name="cid" value="{{ channel.id }}" />
      <button>編集</button>
    </form>
  </div>
</div>
