body {
  margin: 0;
  line-height: normal;
  background-size: cover;
  background-image: url(../img/Background.png);
}

:root {
  /* fonts */
  --font-inter: Inter;
  --font-audiowide: Audiowide;
  --font-noto-sans-jp: "Noto Sans JP";
}