header {
  height: 64px;
  width: 100%;
  background: linear-gradient(rgba(255,243,210,1), rgba(255,232,171,1));
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 5px solid #caa1ff;
}

.header-logo {
float: left;
margin-left: 25px;
}

.header-logo p {
  font-size: 32px;
  font-family: var(--font-audiowide);
  color: #0012b4;
  line-height: 0px;
}

.header-menu {
float: right;
margin-right: 25px;
}

.header-menu a {
  font-size: 24px;
  line-height: 64px;
  padding: 0 25px;
  color: #000000;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

