header {
  height: 64px;
  width: 100%;
  background-color: bisque;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 3px solid #caa1ff;
}

.header-logo {
float: left;
margin-left: 25px;
}

.header-logo p {
  font-size: 32px;
  font-family: var(--font-audiowide);
  color: #0012b4;
  line-height: 0px;
}

.header-menu {
float: right;
margin-right: 25px;
}

.header-menu a {
  font-size: 24px;
  line-height: 64px;
  padding: 0 25px;
  color: #000000;
  display: block;
  float: left;
  transition: all 0.5s;
  cursor: pointer;
}

.header-menu a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

