<!DOCTYPE html>
<html lang="ja">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
   <title>サーバーエラー</title>
   <link rel="stylesheet" href="../../static/css/error.css" />
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">
</head>
<body class="error">
  <div class="error-wrapper">
    <div class="bg-img">
      <div class="error-content">
        <div>
          <span class="error-title">
            error<br />
            500<br />
            Internal Server Error</span>
        </div>
        <div class="error-description error404or500">
        <p>エラーが発生しました<br />
          管理者にお問い合わせください</p>
          <a href="{{ url_for('index') }}" button class="error-button">戻る</a></button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>